*{
    padding: 0;
    margin: 0;
}
header{
    position: relative;
    height: 90vh;
    background-image: url(images/IN-en-20231113-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-position: center center;

}
nav{
    position: absolute;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.518);
    width: 100vw;
    margin: auto;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px 0px black
    

}
nav>img{
    height: 5vh;
}
header>div{
    position:absolute;
    width: 100vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.464);
    /* opacity: 0.44; */
}
nav button {
    display: flex;
    justify-content: center;
    align-items: center;   
}
nav div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 40px; */
}
nav button:first-child{
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.723);
    color: white;
    border: 0.05px rgba(255, 255, 255, 0.54) solid;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 5px;
}

nav button img{
    width: 16px;
    margin-right: 9px;
    
}
.ar{
    width: 7px;
    margin-left: 9px;
    margin-right: 3px;
}
button.sign{
    background-color: red;
    padding: 8px;
    /* padding-bottom: 5px; */
    height: 34px;
    /* margin-top: 9px; */
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 5px;
    border: 0px;
}
header>div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    /* background-color: black; */
}
header h1{
    width: 75vw;
    text-align: center;
    font-size: 42px;
    font-weight: 9000;
    background-color: rgba(0, 0, 0, 0.355);
    box-shadow: 0px 0px 100px 0px black;
}
header div p:nth-child(3){
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.355);
    box-shadow: 0px 0px 100px 0px black;
    
}

header div p:nth-child(2){
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.355);
    box-shadow: 0px 0px 100px 0px black;
}
header div div{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header input{
    height: 40px;
    width: 30vh;
    background-color: rgba(0, 0, 0, 0.618);
    padding: 20px;
    color: white;
    border-radius: 3px;
    border: 0.02px rgba(255, 255, 255, 0.552) solid;
}
header div div button.sign{
    height: 78px;
    padding: 20px;
    font-size: 20px;
    font-weight: 550;
    margin-left: 15px;
}



/* -------- */


body{
    background-color: rgb(81, 81, 81);
}
 

 /* ---------- */



main div{
    /* height: 70vh; */
    background-color: black;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}
main div.text{
    width: 500px;
    /* height: 500px; */
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10vw;
    padding: 50px;
}
main div div.fig{
    width: 500px;
    height: 500px;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
main div div.fig div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
}
main div div.fig video{
    grid-row: 1;
    grid-column: 1;
    position: absolute;
    top: 82px;
    left: 70px;
    height: 219px;


}
div.fig img{
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
    height: 400px;
}

div.text p:first-child{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    text-align: left;
}
div.text p:last-child{
    color: white;
    margin-top: 30px;
    font-size: 20px;
}
main div:nth-child(2) div.fig video{
    height: 195px;
    position:relative;
    top: -350px;
    left: 0;
}
main div:nth-child(2){
    flex-wrap:wrap-reverse;
}
main div:nth-child(2) div.fig{
    padding-top: 110px;
}
main div.text div{
    display: flex;
    flex-direction: column;
}


footer>div{
    min-height: 120vh;
    background-color: black;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer>div>p{
    color: white;
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
    font-weight:900;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer .qbox{
    width: 70vw;
    height: 13vh;
    background-color: rgba(128, 128, 128, 0.597);
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .qbox p{
    color: white;
    padding-left: 30px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
footer svg{
    padding-right: 30px;

}
footer>div>p:nth-last-child(2){
    font-size: larger;
}
footer>div>div.email{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 90px;
}
footer>div>div.email>input{
    padding-left: 20px;
    height: 50px;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.397);
    border: 0.02px rgba(255, 255, 255, 0.696) solid;
    border-radius: 3px;
    color: white;
}
footer>div>div.email>button{
    /* padding: 16px; */
    background-color: red;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    height: 53px;
    border: 0px;
    margin-left: 10px;
    padding-left:10px ;
    padding-right: 10px;
    border-radius: 3px;


    
}